<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error") %> prohibited this equipment from being saved:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :mark %><br>
    <%= f.text_field :mark, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :equipment_type %><br>
    <%= f.select(:equipment_type,{ "Ar condicionado" => "air_conditioner",  "Cafeteira" => "coffee_machine", "Computador" => "computer", "Monitor" => "monitor", "Mouse" => "mouse", "Teclado" => "keyboard", "Roteador" => "router"}) %>
  </div>
  <div class="form-group">
    <%= f.label :observations %><br>
    <%= f.text_area :observations , class: 'form-control col-md-8'%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
