<p id="notice"><%= notice %></p>


<div class="container">
<h1>Listagem de Equipamentos</h1>

<table class="table" >
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Marca</th>
      <th>Tipo</th>
      <th>Observações</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr class="info">
        <td><%= equipment.code %></td>
        <td><%= equipment.name %></td>
        <td><%= equipment.mark %></td>
        <td><%= get_name_attribute(equipment.equipment_type) %></td>
        <td><%= equipment.observations %></td>
        <td><%= link_to 'Ver', equipment %></td>
        <td><%= link_to 'Editar', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Deletar', equipment, method: :delete, data: { confirm: 'Você confirma?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
<br>

<a href="<%= new_equipment_path %>" type=”button” class="btn btn-success"> Cadastrar Novo Equipamento</a>
</div>