<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Locais e Sedes</h1>

  <br>
<div>
  <a href="<%= new_place_path %>" type=”button” class="btn btn-success"> Cadastrar  Novo Local</a>
</div>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sede?</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr class="info">
          <td><%= place.name %></td>
          <td><%= is_head_squarter(place.head_squarter) %></td>
          <td><%= link_to 'Mostrar', place %></td>
          <td><%= link_to 'Editar', edit_place_path(place) %></td>
          <td><%= link_to 'Apagar', place, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
